body {
	background-color: black;
	color: yellow;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	margin: auto;
}

.slide {
	width: 500px;
	height: auto;
	position: absolute;
	transform: translate(500px, 0px);
}

.image1 {
	z-index: 4;
}

.image2 {
	z-index: 3;
}

.image3 {
	z-index: 2;
}

.image4 {
	z-index: 1;
}

.container {
	text-align: center;
}

button {
	color: black;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	border: none;
	width: 25%;
	position: relative;
	top: 375px;
}

#previous {
	background-color: violet;
}

#next {
	background-color: orange;
}

@keyframes animation1 {
	0% {
		transform: translate(-500px, 0px);
	}

	100% {
		transform: translate(500px, 0px);
	}
}

.animation1 {
	animation: animation1 5s;
}

@keyframes animation2 {
	0% {
		transform: translate(500px, 0px);
	}

	100% {
		transform: translate(1500px, 0px);
	}
}

.animation2 {
	animation: animation2 5s;
}